<div id="book-page">

  <div class="container">
    <h1>{{book.title}}</h1>
    <p>Páginas: {{book.pageqty}}</p>

    <div>
      <a href="/books/edit/{{book.id}}" class="btn btn-primary">
        Editar Livro
      </a>
    </div>

    <a href="/books">
      Voltar para a lista de livros
    </a>
  </div>
</div>